@font-face {
  font-family: "MuseoSansCyrl";
  src: url("MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "MuseoSansCyrl", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
.timer-floating {
  position: fixed;
  bottom: 1vw;
  right: 1vw;
  background: #3b146a;
  border-radius: 1vw;
  padding: 1vw;
  box-shadow: 0 0 1vw rgba(255, 255, 255, .1);
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  animation: fade-in .3s ease-out;
}
@keyframes fade-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
transform: translateY(0);
opacity: 1;
  }
}
.timer-close {
  position: absolute;
  top: 1vw;
  right: 1vw;
  background: transparent;
  border: none;
  font-size: 1vw;
  color: #ffffff;
  cursor: pointer;
}
.timer-title{
  width: 80%;
  margin: 1vw 0;
}
.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.segment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.digit {
  background: #ffffff6b;
  padding: 1vw;
  border-radius: 1vw;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.digit span {
  display: inline-block;
  width: .8vw;
}
.last-digit {
  display: inline-flex;
  gap: .1vw;
}
.last-digit-inner.animate {
  animation: slideUp .4s ease;
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.label {
  opacity: .8;
  font-size: .8vw;
  margin: .5vw 0 1vw;
}
.anchor-button {
  background-color: #ff1a6c;
  color: #fff;
  padding: .5vw 2vw;
  border: none;
  border-radius: .5vw;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  margin: 0 0 .3vw;
}
@media (max-width: 800px) {
 .timer-title{
  font-size: 1.5vw;
}
.label {
  font-size: 1.1vw;
}
.anchor-button {
  font-size: 1.5vw;
}
.digit span {
  width: 1.3vw;
}
.timer-close {
  font-size: 2vw;
}
}
@media (max-width: 500px) {
  .timer-title{
  font-size: 3vw;
}
.label {
  font-size: 2.5vw;
}
.anchor-button {
  font-size: 3vw;
  padding: 2vw 3vw;
}
.digit span {
  width: 2.5vw;
}
.timer-close {
  font-size: 5vw;
}
.timer-floating {
  width: 60vw;
  height: 25vh;
  bottom: 4vw;
  right: 1vw;
}
.timer {
  gap: 3vw;
}
.digit {
  padding: 3vw;
}
}